body {
    background-image: url(background.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-main {
    padding: 40px;
    background-color: transparent !important;
    border: transparent !important
}

.white {
    color: aliceblue;
}

a {
    color: aliceblue !important;
}

@media screen and (max-width : 1000px) {
    nav {
        background-color: aliceblue;
    }
    .nav-link, .navbar-brand {
        color: black !important;
    }
}

